html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
    font-style: italic
}

/* header */
.header {
    text-align: center;
}

.titulo-principal {
    font-size: 40px;
}

.sub-titulo {
    font-style: italic;
}

/* Primeira foto */
.first-img {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

/* Biografia */
.biografia {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* Citações */
.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

/* Curiosidades */
.curiosities.container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 50px;
}

/* Segunda Imagem */
.img-bold   {
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}